<form >
  <h1>Add Collection</h1>
 
   
  <div>
    <label for="IDEmail">
      <i class="fa fa-solid fa-file-signature"></i><span>Name En</span></label>
  </div>
  <input formControlName="NameEN" type="text"  id="IDEmail" placeholder="enter your Collection  Name En "
    required>
  <div>
    <label for="IDEmail">
      <i class="fa fa-solid fa-pen"></i> <span>Name Ar</span></label>
  </div>
  <input formControlName="NameAr" type="text"  id="IDEmail" placeholder="enter your Collection  Name Ar"
    required>





  <div class="but-sign">
    <button (click)="add()" class="btn ">
      Add</button>
    <button type="button" class="btn " routerLink="/marketer/protuctchossebymarketer">
      Add Product</button>
  </div>
</form>